*,*::before,*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

}

body {
  font-family: "Cuprum", "Arial", "sans-serif";
  color: #FFFFFF;

  min-width: 960px;

}

a {
  text-decoration: none;
  color: #FFFFFF;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.center_container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.catalog_page .main_header {
  margin-bottom: 20px;
}

.header_container .center_container {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.header_container {
  padding: 0;
  margin: 0;
  margin-bottom: 46px;
}

.logo_box {
  display: block;
  background-color: #ee3643;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 10px;
  line-height: 1px;

}

.header_logo_box {
  position: relative;
  width: 220px;
}

.header_logo_box::after {
  content: "";
  height: 5px;
  width: 100%;
  background-color: #b52933;
  display: block;
  position: absolute;
  top: 100%;
}

.search {
  position: relative;
}

.search_field::-ms-input-placeholder {
  color: #ffffff;
}

.search_field::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search_field::placeholder {
  color: #ffffff;
}
.search input {
  font-size: 17px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  display: block;
  width: 270px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 49px;

}

.search_field:focus ~ .search_btn path {
  fill: #ee3643;
}

.search_field:focus ~ .search_btn,
.search .search_btn:hover,
.search .search_btn:focus,
.search_field:hover ~ .search_btn {
  opacity: 1;
}

.search_btn {
  position: absolute;
  background-color: transparent;
  margin: 0;
  padding: 0;
  right: 236px;
  top: 12px;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.search_btn path {
  fill: #ffffff;
}

.logo_box:hover,
.logo_box:focus {
  background-color: #ca2c37;
}

.catalog_logo_box:active {
  background-color: #ba2732;
}

.header_container {
  background-color:#293449;

}

.header_btns {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
}

.header_btns a {
  font-size: 17px;
  line-height: 18px;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 150px;

}

.header_btns .order {
  background-color: #63a63e;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.header_btns .bookmarks {
  padding: 12px 28px 12px 43px;
  position: relative;
}

.header_btns .bookmarks::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-bookmark.svg);
  background-size: 14px 16px;
  width: 14px;
  height: 16px;
  left: 17px;
  opacity: 0.3;
}

.header_btns .cart {
  padding: 12px 29px 12px 50px;
  position: relative;
}

.catalog_page .cart {
  padding-right: 24px;
}

.header_btns .cart::before {
  content: "";
  position: absolute;
  background-image: url(../img/cart-icon.svg);
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  left: 18px;
  opacity: 0.3;
}

.header_container .order:hover,
.header_container .order:focus {
  background-color: #5fbb2d;
}

.header_container .order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header_container .cart:hover,
.header_container .cart:focus,
.header_container .bookmarks:hover,
.header_container .bookmarks:focus,
.search input:hover {
  background-color: #212a3a;
}

.cart:hover::before,
.cart:focus::before,
.bookmarks:hover::before,
.bookmarks:focus::before {
  opacity: 1;
}

.search input:focus {
  background: #ffffff;
  outline: none;
  color: #000000;
}


.header_container .cart:active,
.header_container .bookmarks:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.main_header {
  background-color: #f4f7f9;
  display: flex;
  flex-direction: column;

}

.header_content{
  display: flex;
  margin-bottom: 38px;
  padding-left: 53px;
  background-color: #f4f7f9;
}

.header_description{
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
  margin: 0;
  margin-right: 71px;
  padding-top: 2px;
  width: 197px;
}

.header_adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
  margin: 0;

}

.header_content .telephone_number {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  padding: 9px 49px 9px 70px;
  margin: 0;
  margin-bottom: 5px;
  text-decoration: none;
  position: relative;
}

.header_content .telephone_number::before {
  content: "";
  width: 19px;
  height: 19px;
  display: block;
  background-image: url("../img/icon-phone.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: 12px;
}

.header_content .header_contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 69px;
  width: 270px;
}

.main_user_navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 281px;
}

.main_user_navigation,
.catalog_user_navigation {
  list-style: none;
}

.main_user_navigation a,
.catalog_user_navigation .user_name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.catalog_user_navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 299px;
  padding: 0;
  margin: 0;
  position: relative;
}

.catalog_user_navigation .user_name {
  display: block;
  width: 299px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 47px;
  margin-bottom: 5px;
  position: relative;
}

.catalog_user_navigation .user_logo {
  position: absolute;
  top: 13px;
  left: 13px;
}

.catalog_page .header_contacts {
  margin-right: 51px;
}

.main_user_navigation .login {
  padding: 12px 25px 12px 47px;
  display: block;
  margin-right: 10px;
  position: relative;
}

.login_icon {
  position: absolute;
  left: 14px;
  top: 14px;
}

.main_user_navigation .registration {
  padding: 12px 24px;
  display: block;
}

.catalog_user_navigation .user_nav_item {
  padding-left: 17px;
}

.catalog_user_navigation .nav_btn {
  font-size: 16px;
  line-height: 18px;
  line-height: normal;
  color: #32425c;
  text-decoration: underline;
 }

.exit_box {
  position: absolute;
  top: 4px;
  right: 0px;
}
 .catalog_user_navigation .exit_btn {
   font-size: 0;
   padding: 10px;
   display: block;
 }

 .catalog_user_navigation .separator {
   position: relative;
   margin-right: 15px;
 }

.separator::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #32425c;
  display: block;
  position: absolute;
  border-radius: 50%;
  left: 107px;
  top: 7px;
}

.exit_btn:hover path,
.exit_btn:focus path,
.user_name:hover path,
.user_name:focus path{
  fill: #32425C;
}

.exit_btn:active path,
.user_name:active path {
  fill: #c5c5c5;
}

.main_user_navigation a:hover,
.main_user_navigation a:focus,
.catalog_user_navigation .nav_btn:focus,
.catalog_user_navigation .nav_btn:hover {
  color: #ee3643;
}

.main_user_navigation a:active,
.catalog_user_navigation .user_name:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog_user_navigation .nav_btn:active {
  color: rgba(50, 66, 92, 0.3);
}

.site_navigation ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 21px;
}

.site_navigation {
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
  margin-bottom: 60px;
}

.site_navigation a {
  font-size: 17px;
  line-height: 17px;
  display: block;
  padding: 21px 30px 22px 31px;
  text-align: center;

}

.login:hover path,
.login:focus path {
  fill:#32425C;
}

.login:active path {
  fill:#c5c5c5;
}

.site_navigation a:hover,
.site_navigation a:focus {
  background-color: #293449;
}

.site_navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.catalog_page main {
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  display: flex;
  order: -1;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}

.breadcrumbs .home {
  display: inline-block;
  vertical-align: baseline;
  width: 15px;
  height: 12px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: -1px 0px;


}

.breadcrumbs .home_box {
  padding-top: 1px;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 39px;
  position: relative;
}

.breadcrumbs li::after{
  content: "";
  display: block;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  right: -26px;
  top: 3px;
}

.breadcrumbs li:last-child::after{
  display: none;
}

.breadcrumbs li:last-child {
  margin: 0;
}

.breadcrumbs .home_box::after {
  right: -20px;
}

.breadcrumbs a{
 color: #000000;
 text-transform: uppercase;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.headline {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.catalog_title {
  color: #32425c;
  background-color: #f2f6f8;
  margin: 0;
  margin-bottom: 20px;
  padding: 28px;
}

.filter_section {
  width: 220px;
}

.filter_section h2 {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  background-color: #f7f3ec;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  margin: 0;
}

.filter fieldset {
  border: none;
  font-family: "PT Sans", "Arial", "sans-serif";
  padding: 0;
  margin: 0;
  margin-bottom: 41px;
}

.filter fieldset:last-child {
  margin-bottom: 75px;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block;

}

.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter_item {
  padding-left: 35px;
  margin-bottom: 20px;
}

.filter_item:last-child {
  margin-bottom: 0;
}

.filter label {
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.manufacturers_list label::after {
  content: "";
  width: 28px;
  height: 23px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23c5c5c5' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  left: -35px;
  top: 0;
}

.filter_input.checkbox:checked + label::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23c5c5c5' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23c5c5c5' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E");
}

.filter_input.checkbox:focus + label::after,
.filter_input.checkbox + label:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23b5b5b5' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
}

.filter_input.checkbox:checked:focus + label::after,
.filter_input.checkbox:checked + label:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23b5b5b5' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23b5b5b5' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
}

.filter_input.checkbox:disabled + label::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23b5b5b5' opacity='0.3' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
}

.filter_input.checkbox:checked:disabled + label::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23b5b5b5' opacity='0.3' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23b5b5b5' opacity='0.3' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E");
}

.power_source_list label::after {
  content: "";
  width: 25px;
  height: 25px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23c5c5c5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E");
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  left: -35px;
  top: -2px;
}

.filter_input.radio:checked + label::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23c5c5c5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle fill='%23c5c5c5' cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E");
}

.filter_input.radio:focus + label::after,
.filter_input.radio + label:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23b5b5b5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E");
}

.filter_input.radio:checked:focus + label::after,
.filter_input.radio:checked + label:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23b5b5b5' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle fill='%23b5b5b5' cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E");
}

.filter_input.radio:disabled + label::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23b5b5b5' opacity='0.3' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3C/svg%3E");
}

.filter_input.radio:checked:disabled + label::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath fill='%23b5b5b5' opacity='0.3' d='M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z'/%3E%3Ccircle fill='%23b5b5b5' opacity='0.3' cx='12.5' cy='12.5' r='4.5'/%3E%3C/svg%3E");
}

.filter_input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter_btn {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  padding: 10px 39px;
}

.filter_btn:hover,
.filter_btn:focus {
  border: 1px solid #bdc6ca;
}

.filter_btn:active {
  border: 1px solid #ee3643;
}

.sorting {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", "sans-serif";
  padding: 10px 17px 10px 19px;
  background-color: #f7f3ec;
  color: #000000;
  display: flex;
  margin-bottom: 21px;
}

.sorting ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting a {
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  display: block;
  border-bottom: 1px dotted #ee3643;
}

.sorting a:hover,
.sorting a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting .active {
  color: #ee3643;
  border-bottom: none;
}

.sorting .up_link,
.sorting .down_link {
  border-bottom: none;
}

.sorting .up_link:hover,
.sorting .down_link:hover,
.sorting .up_link:focus,
.sorting .down_link:focus {
  border-bottom: none;
}

.up_link:hover path,
.down_link:hover path,
.up_link:focus path,
.down_link:focus path {
  fill: #231F20;
}

.active path {
  fill: #ee3643;
}

.sorting .sort {
  margin: 0;
  text-transform: uppercase;
  margin-right: 138px;
}

.sorting .price {
  margin-right: 71px;
}

.sorting .type {
  margin-right: 65px;
}

.sorting .functional {
  margin-right: 46px;
}

.sorting .up {
  margin-right: 21px;
}

.product_section {
  width: 700px;
}

.product_list {
  margin: 0;
  padding:0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.product_card {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  border: 1px solid #e5e5e5;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 18px;
}

.product_card:nth-child(3n){
  margin-right: 0;
}

.product_card img {
  order: -2;
  margin-bottom: 9px;
}

.product_card .product_title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.product_card .new_price {
  background-image: url("../img/item-button.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  min-height: 38px;
  width: 141px;
  padding: 10px 30px 11px 25px;
  margin: 0;
  margin-top: auto;
}

.product_title h3 {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 12px;
}


.product_card .old_price {
  text-decoration: line-through;
  color: #999999;
  margin: 0;
  margin-bottom: 10px;
}

.new::after {
  content: "";
  width: 60px;
  height: 59px;
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  background-image: url("../img/new-flag.png");
}


.product_card:hover,
.popular_manufacturers_list a:hover,
.popular_manufacturers_list a:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product_btn {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  padding-top: 43px;
  padding-bottom: 30px;
  display: none;
}

.product_card:hover .product_btn {
  display: block;
}

.product_btn a {
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  width: 135px;
}

.buy_btn {
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
  padding: 10px 45px 10px 49px;
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
  border-radius: 3px;
  position: relative;
}

.buy_btn::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  opacity: 0.3;
  display: block;
  position: absolute;
  top: 11px;
  left: 14px;
}

.buy_btn:hover,
.buy_btn:focus {
  background-color: #5fbb2d;
}

.buy_btn:active {
  background-color: #518534;
}

.bookmarks_btn {
  color: #32425c;
  border: 3px solid #63a63e;
  padding: 7px 28px 7px 33px;
  display: block;
  border-radius: 3px;
  margin: 0 auto;
}

.bookmarks_btn:hover,
.bookmarks_btn:focus {
  border: 3px solid #32425c;
}

.bookmarks_btn:active {
  opacity: 0.3;
}

.note {
  padding-top: 65px;
  padding-bottom: 69px;
  background-color: #f4f7f9;
}

.note p {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.note .headline {
  margin-bottom: 25px;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.columns .headline {
  margin-bottom: 26px;
}

.about_company {
  width: 540px;
}

.about_company .button {
  padding-left: 41px;
  padding-right: 40px;
}

.contacts {
  width: 301px;
  position: relative;
  padding-bottom: 40px;
}

.contacts .button {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 64px;
  padding-right: 59px;
}

.about_company > p,
.contacts > p {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin:0;
  margin-bottom: 23px;
}

.contacts > p {
  margin-bottom: 31px;
}

.about_company ul {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 36px;
  padding: 0;
  padding-left: 36px;

}

.transport_list li {
  padding-bottom: 20px;
  position: relative;
}

.transport_list li::before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  top: 9px;
  left: -36px;
}

.transport_list li:last-child {
  padding-bottom: 0;
}

.button {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border: none;
  padding: 10px;
  padding-top: 11px;
  padding-bottom: 9px;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main_footer {
  background-color: #32425c;
  margin-top: 87px;
}

.catalog_page .main_footer {
  margin-top: 0;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 39px;
}

.footer_container .footer_logo_box {
  padding: 20px 41px 25px 41px;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
  margin-bottom: 28px;
  display: block;
}

.footer_container .footer_box {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer_box p {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  margin: 0;
  margin-bottom: 10px;
  padding-left: 3px;
}

.footer_container .nav_container {
  width: 550px;
  padding-left: 3px;
}

.footer_container ul {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 37px;
}

.footer_container li {
margin-bottom: 5px;
}

.first_footer_nav a {
  color: #f1f5f7;
}

.footer_container .second_footer_nav {
  padding-left: 23px;
  margin-top: 30px;
}

.second_footer_nav a{
  color: #ffd180;
}

.first_footer_nav a:hover,
.first_footer_nav a:focus,
.second_footer_nav a:hover,
.second_footer_nav a:focus {
  text-decoration: underline;
}

.first_footer_nav a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.second_footer_nav a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer_contacts .center_container {
  display: flex;
  padding-top: 37px;
  padding-bottom: 26px;
}

.footer_contacts p {
  margin: 0;
}

.footer_contacts {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.footer_contacts .copyright {
  width: 230px;
  margin-right: 160px;
  padding-left: 1px;
}

.footer_contacts .feedback {
  width: 140px;
  margin-right: 20px;
}

.footer_contacts .developed {
  width: 140px;
  padding-left: 29px;
}

.footer_contacts a {
  color: #ffd180;
}

.footer_contacts a:hover,
.footer_contacts a:focus {
  text-decoration: underline;
}

.footer_contacts a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer_social {
  width: 150px;
  padding: 0;
  margin: 0;
  margin-right: 100px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer_social a {
  color: #ffffff;
  background-color: #212a3a;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer_social li {
  margin-right: 3px;
  margin-bottom: 3px;
}

.footer_social a:hover,
.footer_social a:focus,
.footer_social a:active {
  background-color: #ee3643;
}

.modal_communication {
  color: #000000;
  box-shadow: 0px 20px 60px 20% rgba(0, 0, 0, 0.75);
}

.modal_communication label {
  font-size: 18px;
  line-height: 18px;
}

.modal_communication input,
.modal_communication textarea {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  border: 2px solid #dee3e4;
}

.modal_communication input:hover,
.modal_communication textarea:hover {
  border: 2px solid #b5b5b5;
}

.modal_communication input:focus,
.modal_communication textarea:focus {
  border: 2px solid #ee3643;
  outline: none;
}

.modal_communication .container {
  background-color: #f4f4f4;
}

.success_container{
  background-color: #f1f1f1;
}

.success_buy h2 {
  text-transform: none;
}

.continue_btn {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.continue_btn:hover,
.continue_btn:focus {
  border: 1px solid #bdc6ca;
  background-color: #ffffff;
}

.map_popup {
  box-shadow: 0 0 16px 5px rgba(47, 42, 43, 0.5);
}


.promo_section .promo_item {
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px 140px 22px 22px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo_section .vertical_promo_items {
  padding: 0;
  display: block;
}

.promo_container {
  display: flex;
  flex-wrap: wrap;
}


.promo_container .promo_item:nth-of-type(3n) {
  margin-right: 0;
}

.promo_container.second .promo_item:nth-of-type(2n) {
  margin-right: 0;
}

.materials {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-position: 213px 53%;
  background-repeat: no-repeat;
}

.tool {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-position: 197px 53%;
  background-repeat: no-repeat;
}

.promo_section .equipment {
  background-color:#dc91d8;
  background-image: url("../img/icon-3.svg");
  background-position: 191px 53%;
  background-repeat: no-repeat;
}

.vertical_promo_items .discounts {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-position: 196px 53%;
  background-repeat: no-repeat;
  margin-right: 0;
}

.vertical_promo_items .delivery {
  background-color:#ffc047;
  background-image: url("../img/icon-5.svg");
  background-position: 191px 53%;
  background-repeat: no-repeat;
  margin: 0;
}

.promo_item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 13px;
}

.promo_link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  width: 135px;
  border-radius: 3px;
  text-align: center;
  display: block;
  margin-top: auto;
  margin-left: 3px;
}

.equipment .promo_link,
.discounts .promo_link,
.delivery .promo_link{
  margin-left: 1px;
}

.promo_link:hover,
.promo_link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo_link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo_section .slider {
  width: 620px;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  padding: 0;
}

.slider .button {
  padding-left: 48px;
  padding-right: 45px;
  width: 195px;
  position: absolute;
  left: 25px;
  bottom: 22px;
}

.promo_section .backward {
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-left.svg");
  display: block;
  position: absolute;
  top: 114px;
  left: 25px;
  border: none;
  background-color: transparent;
}

.promo_section .forward {
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-right.svg");
  display: block;
  position: absolute;
  top: 114px;
  right: 20px;
  border: none;
  background-color: transparent;
}

.promo_slide_list {
  margin: 0;
  padding: 0;

}

.promo_slide_list li {
  min-height: 266px;
  padding: 23px 20px 22px 24px;
  display: none;
}

.promo_slide_list .drill {
  background-image: url("../img/slider-image.jpg");
}

.promo_slide_list .perforator {
  background-image: url("../img/perforator.jpg");
}

.promo_slide_list h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.promo_slide_list p {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.slider_controls {
  position: absolute;
  left: 50%;
  bottom: 36px;
  margin-left: -15px;
  display: flex;
}

.slider_controls label {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.slider_controls label:last-child {
  margin-right: 0;
}

.drill_input:checked ~ .promo_slide_list .drill {
  display: block;
}

.perforator_input:checked ~ .promo_slide_list .perforator {
  display: block;
}

.perforator_input:checked ~ .slider_controls .perforator_label,
.drill_input:checked ~ .slider_controls .drill_label {
  background-color: #ee3643;
}

.promo_section .new::after {
  top: 0;
  right: 0;
}

.popular_manufacturers_container,
.popular_products_container {
  background-color: #f9f5f0;
  display: flex;
  padding: 25px 24px 26px 30px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.popular_manufacturers_container .headline,
.popular_products_container .headline {
  color: #32425c;
  max-width: 460px;
}

.popular_manufacturers_container .button {
  padding-left: 69px;
  padding-right: 70px;
}

.popular_manufacturers_list {
  list-style: none;
  margin:  0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.popular_manufacturers_list li {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.popular_manufacturers_list li:nth-child(4n) {
  margin-right: 0;
}

.popular_manufacturers_list a {
  display: block;
  height: 1px;
  min-height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaeaea;
}

.popular_manufacturers_list a:active {
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular_products_container .button {
  padding-left: 55px;
  padding-right: 55px;
}

.popular_products_list .product_card {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 21px;
}

.popular_products_list .product_card:nth-child(4n) {
  margin-right: 0;
}

.services_section {
  background-color: #f4f7f9;
  padding-top: 30px;
}

.services_section p {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.services_section .headline {
  margin-bottom: 26px;
}

.services_section .intro {
  margin-bottom: 70px;
}

.services_container.center_container {
  width: 960px;
  outline: 1px solid black;
}

.services_container {
  padding-bottom: 99px;
  display: flex;
  background-repeat: no-repeat;
  padding-left: 10px;
  padding-right: 10px;
}

.services_list {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  list-style: none;
  margin: 0;
  margin-right: 80px;
  padding: 0;
  width: 240px;
  position: relative;
}

.services_list::after {
  content: "";
  width: 10px;
  height: 279px;
  display: block;
  position: absolute;
  background-image: url("../img/shadow.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  right: 0px;
  top: -46px;
}

.services_list li {
  padding-bottom: 1px;
}

.services_list label {
  padding: 15px 23px 16px 22px;
  display: block;
  background-color: #32425c;
  box-shadow: 0px 2px 0 0 #293449,
              inset 0px 1px 0 0 #405069;
}

.delivery_input:checked ~ .services_container .delivery_label,
.guarantee_input:checked ~ .services_container .guarantee_label,
.credit_input:checked ~ .services_container .credit_label {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0px 2px 0 0 #ffffff,
              inset 0px 1px 0 0 #ffffff;
}

.delivery_input ~ .services_container .delivery_label:hover,
.guarantee_input ~ .services_container .guarantee_label:hover,
.credit_input ~ .services_container .credit_label:hover {
  background-color: #293449;
}

.delivery_input:checked ~ .services_container .delivery_label:hover,
.guarantee_input:checked ~ .services_container .guarantee_label:hover,
.credit_input:checked ~ .services_container .credit_label:hover {
  background-color: #ffffff;
}

.services_slide_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.delivery_slide {
  max-width: 275px;
}

.guarantee_slide {
  max-width: 373px;
}

.credit_slide {
  max-width: 285px;
}

.services_slide_list h3{
  color: #32425c;
  font-size: 36px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  padding-top: 4px;

}

.services_slide_list li {
  display: none;
}

.delivery_input:checked ~ .services_container .delivery_slide,
.credit_input:checked ~ .services_container .credit_slide,
.guarantee_input:checked ~ .services_container .guarantee_slide {
  display: block;
}

.delivery_input:checked ~ .services_container {
  background-image: url("../img/delivery.png");
  background-position: top 100% right 11px;
}

 .guarantee_input:checked ~ .services_container {
  background-image: url("../img/guarantee.png");
  background-position: top 100% right 2px;
}

.credit_input:checked ~ .services_container {
  background-image: url("../img/credit.png");
  background-position: 100% 100%;
}
